@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Hanken Grotesk", sans-serif !important;
  background-color: #14003c;
  z-index: -10 !important;
}
:root {
  --purple: #14003c;
  --pink: #ff1365;
  --blue: #0d002a;
}
.bg-purple {
  background-color: var(--purple);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-blue {
  background-color: var(--blue);
}

.text-pink {
  color: var(--pink);
}

.gradient-border {
  border-radius: 80px;
  border: solid 2px transparent;
  background-image: linear-gradient(#14003c, #14003c),
    linear-gradient(90deg, #ff1464, #ff14620b);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}

.gradient-border:hover {
  border-image-source: linear-gradient(to top left, var(--pink), var(--purple));
}

@media (min-width: 640px) {
  .bg-img-hero {
    background-image: url("../images/hero-img.png");
  }
}
