.hero-bg::after {
  content: "";
  background-image: url("../img/about-eclipse-hero-bg-img.png");
  background-position: 100% 100%;
  top: 0px;
  left: 0;
  opacity: 0.7;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  z-index: -1;
  position: absolute;
}
.hero-bg {
  position: relative;
  width: 100%;
}

.newscard {
  border-radius: 24px;
  border: 2px solid var(--Gradient-Stroke, #574974);
  border: o;
  background: var(--tones-white-5, rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(12px);
}
.newscard-2 {
  border-radius: 24px;

  background: var(--tones-white-5, rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(12px);
}

.newscard-2 {
  position: relative;
  transition: 0.3s ease-in-out;
}
.newscard-2::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 2px;
  background: linear-gradient(285deg, #30195edb 40.01%, #574974f7 63.36%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.newscard-2:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 2px;
  background: linear-gradient(269deg, #ff1464 99.5%, #ff1464 40.01%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.github {
  position: relative;
}

.github::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1px;
  background: linear-gradient(285deg, #30195edb 40.01%, #574974f7 63.36%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.supportus-card {
  border-radius: 24px;

  background: var(--tones-white-5, rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(12px);
}

.supportus-card {
  position: relative;
}

.supportus-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(285deg, #30195edb 40.01%, #574974f7 63.36%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.documentation-card {
  position: relative;
}

.documentation-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 22px;
  padding: 1px;
  background: linear-gradient(285deg, #30195edb 40.01%, #574974f7 63.36%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.OpenJDK-Based {
  position: relative;
  width: 100%;
}
.OpenJDK-Based::after {
  content: "";
  position: absolute;
  bottom: -450px;
  right: 0px;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 200%;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url(../img/linear-bg.png);
}
.contributors {
  position: relative;
  width: 100%;
}
.contributors::after {
  content: "";
  position: absolute;
  bottom: -600px;
  right: 0px;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 150%;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url(../img/linear-bg.png);
  opacity: 0.45;
}
.community {
  position: relative;
  width: 100%;
}
.community::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 0.7;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url(../img/comnity-bg-img.png);
}
.gradient-btn {
  border-radius: 80px;
  border: solid 2px transparent;
  background-image: linear-gradient(#29014f, #29014f),
    linear-gradient(90deg, #ff1464, #ff14620b);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}
.gradient-btn:hover {
  transform: scale(110%);
  transition-duration: 300ms;
}

/* .element-with-gradient-border {
  border: 2px solid;
  border-radius: 24px;
  border-image: linear-gradient(to right, #574974, #26144b);
  border-image-slice: 1;
} */

@media screen and (max-width: 800px) {
  .OpenJDK-Based::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-size: 100% 100%;
    background-position: center;
    width: 200%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url(../img/linear-bg-mobile.png);
  }
}
@media screen and (max-width: 767px) {
  .community::after {
    background-image: url(../img/gradient-overlay-mobile.png);
    z-index: -1;
  }
  .gradient-btn {
    border-radius: 80px;
    border: solid 2px transparent;
    background-image: linear-gradient(#541473, #541473),
      linear-gradient(90deg, #ff1464, #ff14620b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
  }
  .gradient-btn:hover {
    transform: scale(110%);
    transition-duration: 300ms;
  }
}

@media screen and (max-width: 1380px) {
  .thank-greeting {
    font-size: 85px !important;
    line-height: 70px;
  }
}
/* .thank-greeting {
  font-size: 104px !important;
  line-height: 120px;
} */
