.newscard {
  border-radius: 24px;
  border: 1px solid var(--Gradient-Stroke, #fff);
  background: var(--tones-white-5, rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(12px);
}

.OpenJDK-Based {
  position: relative;
  width: 100%;
}
.OpenJDK-Based::after {
  content: "";
  position: absolute;
  bottom: -450px;
  right: 0px;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 200%;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url(../img/linear-bg.png);
}
.contributors {
  position: relative;
  width: 100%;
}
.contributors::after {
  content: "";
  position: absolute;
  bottom: -600px;
  right: 0px;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 150%;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url(../img/linear-bg.png);
  opacity: 0.45;
}
.community {
  position: relative;
  width: 100%;
}
.community::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url(../img/gradient-overlay.png);
}
@media screen and (max-width: 800px) {
  .OpenJDK-Based::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-size: 100% 100%;
    background-position: center;
    width: 200%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url(../img/linear-bg-mobile.png);
  }
}
@media screen and (max-width: 767px) {
  .community::after {
    background-image: url(../img/gradient-overlay-mobile.png);
    z-index: -1;
  }
}

@media screen and (max-width: 1380px) {
  .thank-greeting {
    font-size: 85px !important;
    line-height: 70px;
  }
}
/* .thank-greeting {
  font-size: 104px !important;
  line-height: 120px;
} */
